.paper-box {
    width: 200px;
    height: 100px;
    background-color: red;
    // .box-div {
    //     margin-right: 10px;
    // }
}

.rdt_TableCol {
    font-weight: 600;
    color: azure;
    font-size: 15px;
    background-color: #1b4559;
    height: 45px;
}

.rdt_TableCell {
    height: 40px;
}