.paper-box {
    width: 200px;
    height: 100px;
    background-color: red;
    // .box-div {
    //     margin-right: 10px;
    // }
}

.rdt_TableCol {
    font-weight: 600;
    color: azure;
    font-size: 15px;
    background-color: #1b4559;
    height: 45px;
}

.rdt_TableCell {
    height: 40px;
}

.img-notfound {
    margin-top: 70px;
    img {
        width: 400px;
    }
}

.text-notfound {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
        margin-bottom: 20px;
    }
}